<h1>Runs</h1>

<% @runs.each do |run| %>
    <h2>Run <%= run.id %>
    <h4>Date: <%= run.date %></h4>
    <h4>Distance: <%= run.distance %></h4>
    <h4>Duration: <%= run.duration %></h4>
    <a href="/runs/<%=run.id%>/edit">Edit</a>
<% end %>
<br>
<br>
<br>


<a href="/logout" class="btn btn-success">Logout</a>