<h1>Runs</h1>

<br>
<br>



<% @runs.each do |run| %>
	<h4>Date: <i><%= run.date %></i></h4>
  <h4>Distance: <b><%= run.distance %></b> Miles</h4>
  <h4>Duration: <b><%= run.duration %></b> Hours</h4>
  <!-- <h4>Creator: <b><%= run.user %></b> Hours</h4> -->
  <a href="/runs/<%=run.id%>/edit" style="text-decoration: none;">Edit</a> 
<br>
<br>
<% end %>








<a href="/logout" class="btn btn-success">Logout</a> 
