<h1>Runs</h1>

<% @runs.each do |run| %>
    <h2>Run <%= run.id %>
    <h3>Date: <%= run.date %></h3>
    <h3>Distance (miles): <%= run.distance %></h3>
    <h3>Duration (hours): <%= run.duration %></h3>
    <a href="/runs/<%=run.id%>/edit">Edit</a>
    <br>
<% end %>
<br>
<br>


<a href="/logout" class="btn btn-success">Logout</a>